{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>

    <h2>{{entreprise}}</h2>
    <p>
        Adresse : {{ entreprise.adresse }} {{entreprise.cp}} {{ entreprise.ville}} <br>
        date de creation : {{entreprise.dateCreationFr}}
    </p>

    <h3>Liste des salariés</h3>
    {% if entreprise.employes | length > 0 %}
        {% for employe in entreprise.employes %}
            <a href="{{path('show_employe',{'id':employe.id})}}">{{ employe}}</a> <br>
        {% endfor %}
    {% else %}
        <p>Aucun salarié dans cette entreprise</p>
    {% endif %}


{% endblock %}